{
    "extends": "next",
    "rules": {
        "react/no-unescaped-entities": "off",
        "@next/next/no-page-custom-font": "off",
        "react/jsx-uses-react": "off",
        "react/react-in-jsx-scope": "off"
    }
}
